h1 {@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

*{
        font-family: 'Red Hat Display';
}

body{
    background-image:url('images/pattern-background-mobile.svg'); 
    background-color: hsl(225, 100%, 94%);
    background-repeat:no-repeat;
    background-position: center top;
    background-size: 100%;
}

section img{
    border-image: 615px;
    border-radius: 20px 20px 20px 20px; 
   }

fieldset{
    background-color:#fff;
    border-radius: 20px;
    width:350px;
    height: 600px;
    margin: 70px 18px;
    display: flex;
    flex-direction: column;  
    border-color:#ffffff;
    box-shadow: 10px 10px 10px 5px rgba(202, 202, 202, 0.912);
}

h1{
    text-align: center;
    margin-top: 25px;
    color: #1f2f56;
    font-weight: 800;
    line-height:1cm;
}

h2{
    margin: 25px;
    text-align: center;
    line-height:25px;
    font-size: 16px;
    color: #7280a7;
    font-weight: 100;
}
.payment_btn{
    background-color: hsl(245, 75%, 52%);
    padding :14px;
    border-radius: 10px;
    color: white;
    text-align: center;
}
.payment_btn:hover{
    background-color:  hsl(224, 23%, 55%);
}
.cancel_btn {
    margin-top: 25px;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    text-align: center;
}

.cancel_btn:hover{
    color: hsl(223, 47%, 23%);
}

.footer{
    font-size: 11px; text-align: center; 
    float: right;
    color: hsl(228, 45%, 44%);
    text-align: center;
}



@media screen and (max-width:375px) {
    body{
        background: url("images/pattern-background-mobile.svg") no-repeat;
        background-color: hsl(225, 100%, 94%);
    }
    .container{
        width: 70%;
    }
    .attribution{
        margin-top: 45px;
        font-size: 13px;
    }
}       

   
